@import "src/styles/variable";

.buttonWrapper {
  width: 100%;

  //max-width: 343px;
  button {
    width: 100%;
    height: 100%;
    background-color: $primary_button;
    border-radius: 12px;
    color: #fff;
    font-size: 17px;
    transition: all 0.2s;
    font-family: $font_Raleway;
    font-weight: 500;

    &:hover {
      background-color: #ff5761;
    }

    &:active {
      background-color: #c60e2e;
    }

    &:disabled {
      background-color: #f6f6f6;
      color: #d1d1d1;
    }
  }
}