$primary-button: #ff5a13;
$text-primary: #141a1e;
$text-secondary: #7b8794;
$error: #e02b2b;
$white: #ffffff;
$secondary: #00aa93;
$orange: #ffded0;
$grey: #c8ccd1;
$background: #e5e5e5;
$bor_radius: 12px;