@import "src/styles/variable";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 68px;

  .styleInput {
    width: 100%;
    margin-top: 16px;

    input {
      height: 48px;
    }
  }

  .styleBtn {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    margin-top: 16px;
  }

  .see {
    position: absolute;
    top: 35px;
    right: 12px;
    cursor: pointer;
  }
}